<div class="container">
  <article id="head">
    <p>Olá,</p>
    <p>Pronto para encontrar a sua máquina?</p>
  </article>
  <article id="personal-data" class="mt-4">
    <form [formGroup]="form">
      <span>Por favor preencha os seus dados pessoais</span>
      <div class="form-group mt-3">
        <input type="text" class="form-control mb-2" id="exampleFormControlInput1" placeholder="Nome completo"
          formControlName="nome" [ngClass]="{ 'is-invalid': submitted && hasError('nome') }" />
        <div class="invalid-feedback mb-3" *ngIf="hasError('nome') && hasError('nome')['required']">
          Nome eh obrigatorio!
        </div>
        <input type="email" class="form-control mb-2" id="exampleFormControlInput1" placeholder="exemplo@domain.com"
          formControlName="email" [ngClass]="{ 'is-invalid': submitted && hasError('email') }" />
        <div class="invalid-feedback mb-3" *ngIf="hasError('email') && hasError('email')['email']">
          Email invalido!
        </div>
        <div class="invalid-feedback mb-3" *ngIf="hasError('email') && hasError('email')['required']">
            Email eh obrigatorio!
          </div>
        <input type="tel" class="form-control mb-2" id="exampleFormControlInput1" placeholder="Contacto"
          formControlName="contato" [ngClass]="{ 'is-invalid': submitted && hasError('contato') }" />
          <div class="invalid-feedback mb-3" *ngIf="hasError('contato') && hasError('contato')['required']">
              Contato obrigatorio
          </div>
        <div class="invalid-feedback mb-3" *ngIf="hasError('contato') && hasError('contato')['minlength']">
          Contato ter 9 digitos.
        </div>
        <div class="invalid-feedback mb-3" *ngIf="hasError('contato') && hasError('contato')['maxlength']">
          Contato ter 9 digitos.
        </div>
        <input type="number" class="form-control mb-2" id="exampleFormControlInput1" placeholder="Montante disponivel"
          formControlName="montante" [ngClass]="{ 'is-invalid': submitted && hasError('montante') }" />
        <div class="invalid-feedback mb-3" *ngIf="hasError('montante') && hasError('montante')['required']">
            Montante eh obrigatorio!
        </div>
        <div class="invalid-feedback mb-3" *ngIf="hasError('montante') && hasError('montante')['min']">
            Montante minimo deve ser 100 000!
        </div>
      </div>

      <div>
        <label class="control-label text-muted mb-2" for="pagamento">Modalidade de Pagamento</label>
        <div id="pagamento" class="row">
          <div class="col-sm-2" *ngFor="let item of tipoPagamento">
            <label class="radio-inline">
              <input type="radio" [value]="item.valor" formControlName="pagamento"> {{ item.valor }}
            </label>
          </div>
        </div>
        <div class="invalid-feedback mb-3" *ngIf="hasError('pagamento') && hasError('pagamento')['required']">
            Montante eh obrigatorio!
        </div>
      </div>
      <br />

      <button type="button" class="btn btn-primary btn-lg" (click)="onSearch()">
        Pesquisar
      </button>
      <button type="button" class="btn btn-danger btn-lg" (click)="onClear()">
        Limpar
      </button>
    </form>
  </article>
</div>
